/* Box Model Fix */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
}

section {
    width: 80vw;
    max-width: 1110px;
    display: flex;
    gap: 30px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

article{
    max-width: 540px;
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 80px 70px 60px 70px;
}

h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

h1 span{
    color: hsl(277, 64%, 61%);
}

h1 + p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;
    line-height: 20px;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 0.8px;
    margin: 30px 40px 80px 0px;
}

p span {
    color: hsla(0, 0%, 100%, 0.6);
}

div{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 60px;
}

div p{
    display: flex;
    flex-direction: column;
    color: hsla(0, 0%, 100%, 0.75);
    text-transform:uppercase;
}

div p span{

}

aside{
    background-image: url(images/image-header-desktop.jpg);
    margin-left: auto;
    width: 540px;
    border-radius: 0px 10px 10px 0px;
    background-color:hsl(277, 64%, 61%);
    background-blend-mode:multiply;
}
